In [1]:
import math
import pandas as pd
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [2]:
!gdown 19XmnxajrIQL76E_r7JYnHfSZ20EOOPU9

Downloading...
From: https://drive.google.com/uc?id=19XmnxajrIQL76E_r7JYnHfSZ20EOOPU9
To: /content/bank-full.csv
100% 4.61M/4.61M [00:00<00:00, 40.2MB/s]

In [3]:
# Dropping this column because bank statement is less likely to be effected by these incidents
df = pd.read_csv('bank-full.csv', delimiter=';').drop([
    'default', 'contact', 'day', 'month', 'pdays', 'previous', 'poutcome'
], axis=1)
df

,age,job,marital,education,balance,housing,loan,duration,campaign,y
0,58,management,married,tertiary,2143,yes,no,261,1,no
1,44,technician,single,secondary,29,yes,no,151,1,no
2,33,entrepreneur,married,secondary,2,yes,yes,76,1,no
3,47,blue-collar,married,unknown,1506,yes,no,92,1,no
4,33,unknown,single,unknown,1,no,no,198,1,no
...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,825,no,no,977,3,yes
45207,71,retired,divorced,primary,1729,no,no,456,2,yes
45208,72,retired,married,secondary,5715,no,no,1127,5,yes
45209,57,blue-collar,married,secondary,668,no,no,508,4,no
45210,37,entrepreneur,married,secondary,2971,no,no,361,2,no

In [4]:
print(
  # df['age'].unique(),
  df['job'].unique(),
  df['marital'].unique(),
  df['education'].unique(),
  df['housing'].unique(),
  df['y'].unique(),
  # df['campaign'].unique()
)

['management' 'technician' 'entrepreneur' 'blue-collar' 'unknown'
 'retired' 'admin.' 'services' 'self-employed' 'unemployed' 'housemaid'
 'student'] ['married' 'single' 'divorced'] ['tertiary' 'secondary' 'unknown' 'primary'] ['yes' 'no'] ['no' 'yes']

In [5]:
le = LabelEncoder()

df['job'] = le.fit_transform(df['job'])
df['marital'] = le.fit_transform(df['marital'])
df['education'] = le.fit_transform(df['education'])
df['housing'] = le.fit_transform(df['housing'])
df['y'] = le.fit_transform(df['y'])
df['loan'] = le.fit_transform(df['loan'])

In [6]:
print(
  # df['age'].unique(),
  df['job'].unique(),
  df['marital'].unique(),
  df['education'].unique(),
  df['housing'].unique(),
  df['y'].unique(),
  # df['campaign'].unique()
)

[ 4  9  2  1 11  5  0  7  6 10  3  8] [1 2 0] [2 1 3 0] [1 0] [0 1]

In [7]:
df

,age,job,marital,education,balance,housing,loan,duration,campaign,y
0,58,4,1,2,2143,1,0,261,1,0
1,44,9,2,1,29,1,0,151,1,0
2,33,2,1,1,2,1,1,76,1,0
3,47,1,1,3,1506,1,0,92,1,0
4,33,11,2,3,1,0,0,198,1,0
...,...,...,...,...,...,...,...,...,...,...
45206,51,9,1,2,825,0,0,977,3,1
45207,71,5,0,0,1729,0,0,456,2,1
45208,72,5,1,1,5715,0,0,1127,5,1
45209,57,1,1,1,668,0,0,508,4,0
45210,37,2,1,1,2971,0,0,361,2,0

In [8]:
Y = df['y']
X = df.drop('y', axis=1)

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

model = SVC(kernel='rbf', gamma='auto')
model.fit(X_train, Y_train)

SVC(gamma='auto')

In [9]:
Y_pred = model.predict(X_test)

accuracy = accuracy_score(Y_test, Y_pred)
print('Model Accuracy is:', str(math.floor(accuracy * 100)) + '%')

Model Accuracy is: 87%